<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <style>
        body {
            background: url('css/fondo.PNG') no-repeat center center fixed;
            background-size: cover;
            /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
            -webkit-background-size: cover;
            /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
            -moz-background-size: cover;
            /* optional for Firefox 3.6 */
            -o-background-size: cover;
            /* for Opera 9.5 */
            margin: 0;
            /* to remove the default white margin of body */
            padding: 0;
            /* to remove the default white margin of body */
            overflow: hidden;
        }
    </style> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Calzado</title>
</head>

<body>
    <div id="app">
        <br>
        <br>
        <h1 class="text-white text-center">Empresa de calzado ¡Un paso adelante!</h1>
        <br>
        <br>
        <div class="container col-3">
            <div v-if="estadoLogin">
                <h1 class="text-white text-center">¡BIENVENIDO!</h1>
                <br>
                <br>
                <br>
                <h1 class="text-white text-center">Inicio de sesión</h1>
                <form>
                    <div class="align-content-sm-center">
                        <label class="form-label" style="color: black;">CARGO</label>
                        <select v-model="cargo" class="form-select" required>
                            <option selected disabled value="">Seleccione un cargo</option>
                            <option value="A">Administrador</option>
                            <option value="S">Secretario</option>
                            <option value="V">Vendedor</option>
                            <option value="E">Ensamblador</option>
                        </select>
                        <br>
                        <label class="form-label" style="color: black;">PIN</label>
                        <input v-model="pin" maxlength="4" placeholder="Ingrese su PIN" type="password"
                            class="form-control">
                        <br>
                        <button class="btn btn-success col-12" type="button" @click="validarLogin">Acceder</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container col-6">
            <div v-if="estadoAdmin">
                <h2 class="text-white text-center">Perfil administrador</h2>
                <label class="form-label" style="color: white;">
                    <h4>Modificar salario</h4>
                </label>
                <select v-model="cargos" @change="getSalario" class="form-select" required>
                    <option selected disabled value="">Seleccione un cargo</option>
                    <option value="A">Administrador</option>
                    <option value="S">Secretario</option>
                    <option value="V">Vendedor</option>
                    <option value="E">Ensamblador</option>
                </select>
                <br>
                <h4 class="text-white">El salario base es:</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-secondary text-white" id="basic-addon1">Colaborador</span>
                    <span v-text="salarioBase" type="text" class="form-control">
                </div>
                <br>
                <input v-model="nSalario" type="number" placeholder="Ingrese nuevo salario" class="form-control">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <br>
                    <button class="btn btn-primary me-md-2" @click="modificarSalario" type="button">Modificar</button>
                </div>
                <label class="form-label" style="color: white;">
                    <h4>Cantidad máxima de zapatos y zapatillas</h4>
                </label>
                <input v-model="canMax" type="number" placeholder="Ingrese cantidad de producción" class="form-control">
                <br>
                <label class="form-label" style="color: white;">
                    <h4>Precio de ensamble zapatos y zapatillas</h4>
                </label>
                <input v-model="prEnsamble" type="number" placeholder="Ingrese el precio del ensamble"
                    class="form-control">
                <br>
                <label class="form-label" style="color: white;">
                    <h4>Comisión del vendedor</h4>
                </label>
                <input v-model="comision" type="number" placeholder="Ingrese el valor de la comisión"
                    class="form-control">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-primary me-md-2" @click="actualizarDatos" type="button">Actualizar</button>
                    <button class="btn btn-secondary" @click="salir" type="button">Cerrar sesión</button>
                </div>
                <br>
            </div>
            <div v-if="verTabla">
                <h1 class="text-muted text-lg-center">Reportes</h1>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-white" scope="col">Cant. zapatos y zapatillas</th>
                            <th class="text-white" scope="col">Precio de ensamble</th>
                            <th class="text-white" scope="col">Comisión vendedor</th>
                        </tr>
                    </thead>
                    <tbody v-if="arrayDatos.length">
                        <tr v-for="item in arrayDatos">
                            <td v-text="item.cant"></td>
                            <td v-text="item.precio"></td>
                            <td v-text="item.comision"></td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr align="center">
                            <td>NO hay registros nuevos</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" @click="regresar" type="button">Atrás</button>
                </div>
            </div>
        </div>
        <div class="container col-6">
            <div v-if="estadoSec">
                <h2 class="text-white text-center">Perfil secretario</h2>
                <br>
                <h4 class="text-white">El salario base es:</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-secondary text-white" id="basic-addon1">Colaborador</span>
                    <span v-text="salarioSec" type="text" class="form-control">
                </div>
                <br>
                <input v-model="cantHoras" type="number" placeholder="Ingrese Las horas extras" class="form-control">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <br>
                    <button class="btn btn-primary me-md-2" @click="calcularSalario" type="button">Calcular</button>
                </div>
                <button class="btn btn-secondary" type="button" @click="salir">Salir</button>
                <br>
                <h3 v-text="totFinal"></h3>
            </div>
        </div>
        <div v-if="estadoVend">
            <h2 class="text-white text-center">Perfil vendedor</h2>
            <br>
            <button class="btn btn-secondary col-6" type="button" @click="salir">Salir</button>
        </div>
        <div v-if="estadoEns">
            <h2 class="text-white text-center">Perfil ensamblador</h2>
            <br>
            <button class="btn btn-secondary col-6" type="button" @click="salir">Salir</button>
        </div>

    </div>

</body>
<script src="js/sources/vue.js"></script>
<script src="js/sources/sweetalert.all.min.js"></script>
<script src="js/calzado.js"></script>

</html>